.headerDiv {
    color: white;
    padding: 5%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2dvh
}

.headerDiv h2 {
    font-size: 24pt;
    background-color: rgba(0, 0, 0, 0.64);
    padding: 3%;
    border-radius: 20px;
    display: flex;
    text-align: center;
}

.headerDiv p {
    font-size: 18pt;
    background-color: rgba(0, 0, 0, 0.64);
    padding: 3%;
    border-radius: 20px;
    display: flex;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .headerDiv h2, .headerDiv p {
        padding: 10%;
        border-radius: 20px;
    }
}